<form method="post" action="{{ path('client_delete', {'id': client.id}) }}" onsubmit="return confirm('Sind Sie sicher, dass Sie dieses Element löschen möchten?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button class="dropdown-item">Löschen</button>
</form>
