{% for label, messages in app.flashes(['info', 'error' ,'warning','success']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}