<button type="submit"  name="filterTypo3-9"  value="true"  class="btn {% if filterTypo3_9 is defined and (filterTypo3_9 == 'true' )%} btn-success {% else %} btn-outline-success {% endif %} btn-sm mb-1">
    <strong>
        9 LTS
    </strong>
</button>