<button  type="submit" value="true" name="filterTypo3-10"  class="btn {% if filterTypo3_10 is defined and (filterTypo3_10 == 'true' )%} btn-success {% else %} btn-outline-success {% endif %} btn-sm mb-1">
    <strong>
        10 LTS
    </strong>
</button>