<h5>Hallo! </h5>

<p>Um Ihr Passwort zurückzusetzen, besuchen Sie bitte den folgenden Link</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Dieser Link endet in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

