{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% include 'Partial/Breadcrumb/_breadcrumb.htnl.twig' with {'breadcrumb': 'Dashboard'} %}

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">

                <!-- Small boxes (Stat box) -->
                {% include 'Dashboard/Index/_statistic.html.twig' %}
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
