<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-puzzle-piece"></i>
        <p>
            Typo3 Plugins
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle nav-icon"></i>
                <p>Liste</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle nav-icon"></i>
                <p>Neu anlegen</p>
            </a>
        </li>
    </ul>
</li>