<div class="btn-group d-flex" role="group">
    <a class="btn  bg-gradient-primary btn-flat mb-0 w-100" href="{{ absolute_url(asset('uploads/tbs-extension/' ~ tbs_extension.extensionZip)) }}"><i class="fa fa-download"></i> </a>
    <a class="btn  btn-default btn-flat mb-0 w-100"  target="_blank" href="{{ tbs_extension.link }}">
        <i class="fa fa-book"></i>
    </a>
    {% if  app.user is defined %}
        {% if app.user.username == tbs_extension.author.email %}
            <a href="{{ path('tbs_extension_edit', {'id': tbs_extension.id}) }}" class="btn btn-default btn-flat  mb-0 w-100"  rel="nofollow" >
                <i class="fa fa-edit"></i>
            </a>
            {{ include('Dashboard/Extension/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
</div>
