<div class="col-md-3">
    <div class="card-container">
        <div class="card card-size-large mb-3">
            <div class="card-header">
                Sort by
            </div>
            <div class="card-body">
                <div>
                    <a href="/?tx_solr%5Bsort%5D=title+asc" class="btn btn-outline-warning btn-sm mb-1 mr-1 solr-ajaxified">Title</a>
                    <a href="/?tx_solr%5Bsort%5D=extensionKey+asc" class="btn btn-outline-warning btn-sm mb-1 mr-1 solr-ajaxified">Key</a>
                    <a href="/?tx_solr%5Bsort%5D=lastUpload+desc" class="btn btn-outline-warning btn-sm mb-1 mr-1 solr-ajaxified">Last Upload</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="facet-area-main">
            <div class="solr-facets-available secondaryContentSection">
                <div class="card card-size-large mb-3">
                    <div class="card-header">
                        <span class="facet-label">Works with TYPO3</span>
                    </div>
                    <div class="card-body">
                        <div class="facet-option-list facet-type-options fluidfacet" data-facet-name="typo3" data-facet-label="Works with TYPO3">
                            <a class="btn btn-outline-success btn-sm mb-1 facet solr-ajaxified" href="/?tx_solr%5Bfilter%5D%5B0%5D=typo3%3A11-dev">
                                <strong>
                                    11-dev
                                    <span class="badge badge-success">101</span>
                                </strong>
                            </a>
                            <a class="btn btn-outline-success btn-sm mb-1 facet solr-ajaxified" href="/?tx_solr%5Bfilter%5D%5B0%5D=typo3%3A10+LTS">
                                <strong>
                                    10 LTS
                                    <span class="badge badge-success">808</span>
                                </strong>
                            </a>
                            <a class="btn btn-outline-success btn-sm mb-1 facet solr-ajaxified" href="/?tx_solr%5Bfilter%5D%5B0%5D=typo3%3A9+LTS">
                                <strong>
                                    9 LTS
                                    <span class="badge badge-success">1134</span>
                                </strong>
                            </a>
                            <a class="btn btn-outline-success btn-sm mb-1 facet solr-ajaxified" href="/?tx_solr%5Bfilter%5D%5B0%5D=typo3%3A8+LTS">
                                <strong>
                                    8 LTS
                                    <span class="badge badge-success">1298</span>
                                </strong>
                            </a>
                            <a class="btn btn-outline-success btn-sm mb-1 facet solr-ajaxified" href="/?tx_solr%5Bfilter%5D%5B0%5D=typo3%3A7+LTS">
                                <strong>
                                    7 LTS
                                    <span class="badge badge-success">1359</span>
                                </strong>
                            </a>
                            <a class="btn btn-outline-success btn-sm mb-1 facet solr-ajaxified" href="/?tx_solr%5Bfilter%5D%5B0%5D=typo3%3A6.2+LTS">
                                <strong>
                                    6.2 LTS
                                    <span class="badge badge-success">1611</span>
                                </strong>
                            </a>
                            <a class="btn btn-outline-success btn-sm mb-1 facet solr-ajaxified" href="/?tx_solr%5Bfilter%5D%5B0%5D=typo3%3A11+LTS">
                                <strong>
                                    11 LTS
                                    <span class="badge badge-success">101</span>
                                </strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
