{% extends 'base.html.twig' %}

{% block title %}Edit TbsExtension{% endblock %}

{% block body %}
    <h1>Edit TbsExtension</h1>

    {{ include('tbs_extension/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tbs_extension_index') }}">back to list</a>

    {{ include('tbs_extension/_delete_form.html.twig') }}
{% endblock %}
