{% extends 'base.html.twig' %}

{% block title %}Edit SitePackage{% endblock %}

{% block body %}
    <h1>Edit SitePackage</h1>

    {{ include('site_package/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('site_package_index') }}">back to list</a>

    {{ include('site_package/_delete_form.html.twig') }}
{% endblock %}
