<div class="card-body ">
    <div class="alert alert-danger">
        <h5><i class="icon fas fa-ban"></i> Achtung!</h5>
        Bitte überprüfen Sie die Konfiguration der Gitlab-Api und aktualisieren Sie die Seite!
    </div>
</div>