<a href="{{ path('dashboard') }}" class="brand-link">
    <img src="{{ asset('dist/img/favicons/favicon.ico') }}" alt="THE BRETTINGHAMS" class="brand-image img-circle elevation-3" >
    <span class="brand-text font-weight-light">THE BRETTINGHAMS</span>
</a>