{% set route_name = app.request.attributes.get('_route') %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    {% include 'Partial/Sidebar/_brand.htmk.twig' %}

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- SidebarSearch Form -->
        <div class="form-inline mt-2">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Suche" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="{{ path('dashboard')}}" {% if route_name == "dashboard" %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>

                <!-- client -->
                {% include 'Partial/Sidebar/Item/Client/_sidebar_client.html.twig' %}

                <li class="nav-header">Typo3 CMS</li>
                {% include 'Partial/Sidebar/Item/Typo3 CMS/_sidebar_typo3_module.html.twig' %}
                {% include 'Partial/Sidebar/Item/Typo3 CMS/_sidebar_typo3_plugin.html.twig' %}
                {% include 'Partial/Sidebar/Item/Extension/_sidebar_typo3_extension.html.twig' %}

                <li class="nav-header">VCS</li>
                {% include 'Partial/Sidebar/Item/Vcs/_sidebar_vcs.html.twig' %}

                <li class="nav-header">Snippet</li>
                {% include 'Partial/Sidebar/Item/Snippet/_sidebar_snippet.html.twig' %}

                <li class="nav-header">System</li>
                {% include 'Partial/Sidebar/Item/System/_sidebar_system.html.twig' %}


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
