<form method="post" action="{{ path('content_elements_delete', {'id': content_element.id}) }}" onsubmit="return confirm('Sind Sie sicher, dass Sie dieses Element löschen möchten?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ content_element.id) }}">
    <button class="btn">Delete</button>
</form>
