<form method="post" action="{{ path('site_package_delete', {'id': site_package.id}) }}" onsubmit="return confirm('Sind Sie sicher, dass Sie dieses Element löschen möchten??');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ site_package.id) }}">
    <button class="dropdown-item">Delete</button>
</form>
