<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <!-- /.form-group -->
                <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <label for="exampleInputEmail1">TYPO3 Version</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio1">
                    <label class="form-check-label">10.4</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio1" checked>
                    <label class="form-check-label">9.5</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio1">
                    <label class="form-check-label"> 8.7</label>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Base Package</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio2">
                    <label class="form-check-label">Bootstrap Package</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio2" checked>
                    <label class="form-check-label">Fluid Styled Content</label>
                </div>
            </div>


            <!-- /.form-group -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>
            <!-- /.form-group -->
            <div class="form-group">

                <label for="exampleInputEmail1">Repository URL</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <!-- /.form-group -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- /.row -->
</div>
<div class="card-footer">
    <button type="submit" class="btn btn-dark"><i class="fa fa-save"></i> Generieren</button>
    <button type="submit" class="btn btn-dark" ><i class="fa fa-save"></i> <i class="fa fa-list"></i> Generieren und speichern</button>
</div>