<div class="card-container">
    <div class="facet-area-main">
        <div class="solr-facets-available">
            <div class="card card-size-large mb-3">
                <div class="card-header  d-flex justify-content-between align-items-right">
                    <span class="facet-label">Suchen</span>
                </div>
                <div class="card-body">
                    <div class="facet-option-list facet-type-options" data-facet-name="typo3" data-facet-label="Funktioniert mit TYPO3">
                        <div class="input-group">
                            <input type="search" class="form-control form-control" id="container-search" placeholder="Geben Sie hier Ihre Schlüsselwörter ein">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>