
<h5>Bitte bestätigen Sie Ihre E-Mail!</h5>

<p>
    Bitte bestätigen Sie Ihre E-Mail-Adresse, indem Sie auf den folgenden Link klicken: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Dieser Link endet in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>




