<div class="col-md-3">
    <div class="card-container">
        <div class="card card-size-large mb-3">
            <div class="card-header  d-flex justify-content-between align-items-right">
                <span class="facet-label">Sortieren nach</span>
                <a href="{{ path("tbs_module_index") }}" class="btn btn-xs btn-outline-danger  ml-auto">
                    löschen
                </a>
            </div>
            <div class="card-body">
                <form method="GET" action="{{ path('tbs_module_index') }}" name="filter-tbs-module" >
                    <div>
                        {% include 'Dashboard/Content Elements/Brettinghams/Filter/Filter Sort/_filter_title.html.twig'  %}
                        {% include 'Dashboard/Content Elements/Brettinghams/Filter/Filter Sort/_filter_date.html.twig'  %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'Dashboard/Content Elements/Brettinghams/Filter/Filter Version/_filter_version.html.twig'  %}
</div>
