<div class="col-md-12">
    <div class="card card-outline card-primary collapsed-card">
        {% include 'Dashboard/Content Elements/Brettinghams/CodeMirror/Card/_header.html.twig'
            with {
            'title': 'tt_content',
            'type':'dark',
            'typeText':'Backend',
            'name':'tt_content.php',
            'error':   checkFrom.error.ttContentCode ?? null
        }
        %}

        <!-- /.card-header -->
        <div class="card-body">
              <textarea id="codeMirrorTtContent"  name="tbs_module[ttContentCode]">
{% if tbs_module.ttContentCode is not null %}
{{ tbs_module.ttContentCode }}
{% else %}
<?php
/** #Dies-ist-nur-ein-Beispiel ! Bitte entfernen Sie diese Zeile  **/

/** Text-Content-Element  **/
\TYPO3\CMS\Core\Utility\ExtensionManagementUtility::addPlugin(
    array(
        'Text Content Element',
        'tbscontentelements_textcontent',
        'tbscontentelements_textcontent'
    ),
    'CType',
    'tbs_content_elements'
);

// Configure the default backend fields for the content element
$GLOBALS['TCA']['tt_content']['types']['tbscontentelements_textcontent'] = array(
'showitem' => '
    --div--;LLL:EXT:core/Resources/Private/Language/Form/locallang_tabs.xlf:general,
    --palette--;;general,
    header;LLL:EXT:tbs_content_elements/Resources/Private/Language/locallang.xlf:tt_content.header,
    bodytext;LLL:EXT:frontend/Resources/Private/Language/locallang_ttc.xlf:bodytext_formlabel,
    ',
    'columnsOverrides' => [
        'bodytext' => [
            'config' => [
                'type' => 'text',
                'enableRichtext' => true
            ]
        ],
    ]
);
?>
{% endif %}

              </textarea>
        </div>
    </div>
</div>
