<div class="col-md-12">
    <div class="card card-outline card-primary collapsed-card">
        {% include 'Dashboard/Content Elements/Brettinghams/CodeMirror/Card/_header.html.twig'
            with {
            'title': 'Backend Preview',
            'type':'dark',
            'typeText':'Backend',
            'name':'Html'}
        %}

        <!-- /.card-header -->
        <div class="card-body">
              <textarea id="codeMirrorHtmlBackend" name="tbs_module[backendPreviewCode]">
<p>
    <strong><f:translate key="LLL:EXT:tbs_content_elements/Resources/Private/Language/locallang.xlf:tbscontentelements_textcontent" /></strong>
</p>
<div class="container" style="width:100%">
    <table>
        <tbody>
        <tr>
            <td>{row.bodytext -> f:format.raw()}</td>
        </tr>
        </tbody>
    </table>
</div>
              </textarea>
        </div>
    </div>
</div>
