
<div class="col-md-6">
    {% include 'Dashboard/Content Elements/Brettinghams/CodeMirror/_code_mirror_lang_en.html.twig'  %}
</div>
<div class="col-md-6">
    {% include 'Dashboard/Content Elements/Brettinghams/CodeMirror/_code_mirror_lang_de.html.twig'  %}
</div>

