<div class="col-md-12">
    <div class="card card-outline card-primary collapsed-card">
        {% include 'Dashboard/Content Elements/Brettinghams/CodeMirror/Card/_header.html.twig'
            with {
            'title': 'TsConfig',
            'type':'dark',
            'typeText':'Backend',
            'name':'NewContentElementWizard.ts',
            'error':   checkFrom.error.tsConfigCode ?? null
        }
        %}
        <!-- /.card-header -->
        <div class="card-body">
          <textarea id="codeMirrorTsConfig" name="tbs_module[tsConfigCode]" >
{% if tbs_module.tsConfigCode is not null %}
{{ tbs_module.tsConfigCode }}
{% else %}
#Dies-ist-nur-ein-Beispiel ! Bitte entfernen Sie diese Zeile
mod.wizards.newContentElement.wizardItems.tbsModule {
elements {
    tbscontentelements_[ModuleName] {
        iconIdentifier = tbscontentelements_[ModuleName]
        title = [trans.id]
        description = [trans.id]
        tt_content_defValues {
            CType = tbscontentelements_[ModuleName]
        }
    }
}
}
mod.wizards.newContentElement.wizardItems.tbsModule.show = tbscontentelements_[ModuleName]
{% endif %}
          </textarea>
        </div>
    </div>
</div>
