<div class="col-md-12">
    <div class="card card-outline card-primary collapsed-card">
        {% include 'Dashboard/Content Elements/Brettinghams/CodeMirror/Card/_header.html.twig'
            with {
            'title': 'SQL - tt_content',
            'info': 'Dieses Sql ist nur für die Tabelle tt_content überschreibbar ',
            'type':'dark',
            'typeText':'Backend',
            'name':'ext_tables.sql',
            'depend': 1
        }
        %}
        <!-- /.card-header -->
        <div class="card-body">
              <textarea id="codeMirrorSqlOverride" name="tbs_module[sqlOverrideCode]">
CREATE TABLE tt_content (
	exemple int(11) unsigned DEFAULT '0' NOT NULL,
);

              </textarea>
        </div>
    </div>
</div>
