<div class="col-md-12">
    <div class="card card-outline card-primary collapsed-card">
        {% include 'Dashboard/Content Elements/Brettinghams/CodeMirror/Card/_header.html.twig'
            with {
            'title': 'SQL - Neue Tabelle',
            'info': 'Dies ist für das Hinzufügen einer neuen Tabelle sql',
            'type':'dark',
            'typeText':'Backend',
            'name':'ext_tables.sql',
            'depend': 1
        }
        %}

        <!-- /.card-header -->
        <div class="card-body">
              <textarea id="codeMirrorSqlNew" name="tbs_module[sqlNewTableCode]">
{% if tbs_module.sqlNewTableCode is not null %}
{{ tbs_module.sqlNewTableCode }}
{% endif %}
              </textarea>
        </div>
    </div>
</div>
