<li class="nav-item">
    <a href="{{ path('jmose_command_scheduler_list') }}" {% if route_name == "jmose_command_scheduler_list" %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
        <i class="nav-icon fas fa-business-time"></i>
        <p>Scheduler</p>
    </a>
</li>