<li class="nav-item">
    <a href="{{ path('snippet')}}" {% if route_name == "snippet" %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
        <i class="nav-icon far fa-file-code"></i>
        <p>Gitlab Snippet</p>
    </a>
</li>

