<form method="post" action="{{ path('tbs_module_delete', {'id': tbs_module.id}) }}" onsubmit="return confirm('Sind Sie sicher, dass Sie dieses Element löschen möchten?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tbs_module.id) }}">
    <button class="btn">Delete</button>
</form>
