{{ form_start(form) }}
<div class="card-body">
    {{ form_row(form._token) }}
    {% include 'Block/Flash/_flash_message.html.twig'  %}
    <div class="row">

        {% include 'Dashboard/Content Elements/Brettinghams/FormOverview/_form_overview.html.twig'  %}

        {% include 'Dashboard/Content Elements/Brettinghams/CodeMirror/_code_mirror_ts_config.html.twig'  %}
        {% include 'Dashboard/Content Elements/Brettinghams/CodeMirror/_code_mirror_typoscript.html.twig'  %}
        {% include 'Dashboard/Content Elements/Brettinghams/CodeMirror/_code_mirror_tt_contenet.html.twig'  %}
        {% include 'Dashboard/Content Elements/Brettinghams/CodeMirror/_code_mirror_sql_override.html.twig'  %}
        {% include 'Dashboard/Content Elements/Brettinghams/CodeMirror/_code_mirror_sql_new.html.twig'  %}
        {% include 'Dashboard/Content Elements/Brettinghams/CodeMirror/_code_mirror_html_backend.html.twig'  %}
        {% include 'Dashboard/Content Elements/Brettinghams/CodeMirror/_code_mirror_lang.html.twig'  %}
        {% include 'Dashboard/Content Elements/Brettinghams/CodeMirror/_code_mirror_html.html.twig'  %}


    </div>
</div>
<div class="card-footer">
    <button type="submit" class="btn btn-dark" ><i class="fa fa-save"></i> <i class="fa fa-list"></i> Speichern</button>
</div>
{{ form_end(form, {'render_rest': false}) }}

