{% extends '@layout/layout-index.html.twig' %}
{% block title %}Brettinghams Module{% endblock %}

{% block card %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-right">
            <h3 class="card-title">Brettinghams Module</h3>
            <a href="{{ path("tbs_module_new") }}" class="btn btn-outline-dark  ml-auto">
                <i class="fa fa-plus"></i>
                Module
            </a>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {% include 'Block/Flash/_flash_message.html.twig'  %}

            <table id="table" class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Bild</th>
                    <th>Beschreibung</th>
                </tr>
                </thead>
                <tbody>
                {% for tbs_module in tbs_modules %}
                    <tr>
                        <td>{{ tbs_module.title }}</td>
                        <td>{{ tbs_module.image }}</td>
                        <td>{{ tbs_module.description }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">keine Datensätze gefunden</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}

