{% extends 'base.html.twig' %}
{% block title %}Neuer Tbs Module{% endblock %}


{% block content %}
    <div class="content-wrapper">
        {% include 'Partial/Breadcrumb/_breadcrumb.htnl.twig' with {'breadcrumb': 'Tbs Module'} %}
        <div class="content">
            <div class="container-fluid">
                <div class="card border-0">

                    <div class="card-header  d-flex justify-content-between align-items-right">
                        <h3 class="card-title">Neuen Tbs Module</h3>
                        <a href="{{ path('tbs_module_index') }}" class="btn btn-outline-dark  ml-auto">
                            Abbrechen
                        </a>
                    </div>

                    {{ include('Dashboard/Content Elements/Brettinghams/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
