<button  type="submit" value="true" name="filterTypo3-11-dev"  class="btn {% if filterTypo3_11 is defined and (filterTypo3_11 == 'true' )%} btn-success {% else %} btn-outline-success {% endif %} btn-sm mb-1">
    <strong>
        11-dev
    </strong>
</button>